.background {
    width: 100%;
    height: 100%;
    background-image: url("@/assets//images/login/backgroundImg.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 200px;

        .systemTitle {
            font-size: 36px;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            text-align: center;
            margin-bottom: 10px;
        }

        .login {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            padding-top: 50px;
            border-radius: 20px;
            background-color: #ffffffe5;
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
            overflow: hidden;

            .title {
                margin-bottom: 50px;
            }
        }
    }

}