.layout {

    min-width: 1000px;
    min-height: 100vh;

    .header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content {
        margin: 24px 16px;
        height: 0;

        >div {
            height: 100%;
        }
    }

    .footer {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
}